<!--
	创建人：丁忠太
	创建时间：2019年4月19日 12:22:28
	功能描述：首页、报名板块
-->
<div class="w1210 store-wall2">
    <div class="store-con2">
        <div class="store-wall2-ad" style="width:100px;">
        </div>
        <ul class="store-wall2-list" style="height:270px;">
            <li>
                学历提升
                <div class="cover-content" style="display: none;">
                    <a href="{:__URL('SHOP_MAIN/sign/school/applyFristInfo')}" class="enter"
                       target="_blank">学历提升</a></div>
            </li>
            <li>
                安监局
                <div class="cover-content" style="display: none;">
                    <a href="#" class="enter"
                       target="_blank">安监局</a></div>
            </li>
            <li>
                劳动局
                <div class="cover-content" style="display: none;">
                    <a href="#" class="enter"
                       target="_blank">劳动局</a></div>
            </li>
            <li>
                质检局
                <div class="cover-content" style="display: none;">
                    <a href="#" class="enter"
                       target="_blank">质检局</a></div>
            </li>
            <li>
                教师资格课程
                <div class="cover-content" style="display: none;">
                    <a href="#" class="enter"
                       target="_blank">教师资格课程</a></div>
            </li>
            <li>
                会计
                <div class="cover-content" style="display: none;">
                    <a href="#" class="enter"
                       target="_blank">会计</a></div>
            </li>
            <li>
                普通话
                <div class="cover-content" style="display: none;">
                    <a href="#" class="enter"
                       target="_blank">普通话</a></div>
            </li>
            <li>
                全国计算机职业技能考试
                <div class="cover-content" style="display: none;">
                    <a href="#" class="enter"
                       target="_blank">全国计算机职业技能考试</a></div>
            </li>
            <li>
                建造师
                <div class="cover-content" style="display: none;">
                    <a href="#" class="enter"
                       target="_blank">建造师</a></div>
            </li>
            <li>
                药师
                <div class="cover-content" style="display: none;">
                    <a href="#" class="enter"
                       target="_blank">药师</a></div>
            </li>
            <li>
                医师
                <div class="cover-content" style="display: none;">
                    <a href="#" class="enter"
                       target="_blank">医师</a></div>
            </li>
            <li>
                护理
                <div class="cover-content" style="display: none;">
                    <a href="#" class="enter"
                       target="_blank">护理</a></div>
            </li>
            <li>
                更多
                <div class="cover-content" style="display: none;">
                    <a href="#" class="enter"
                       target="_blank">更多</a></div>
            </li>


        </ul>
    </div>
</div>
