<!--
	创建人：李志伟
	创建时间：2017年2月7日 12:22:28
	功能描述：首页、店铺街
-->
<div class="w1210 store-wall2">
	<div class="store-con2">
		<div class="store-wall2-ad" style="width:100px;">
	</div>
		<ul class="store-wall2-list" style="height:187px;">
			<li>
				我要报名
				<div class="cover-content" style="display: none;">
					<a href="{:__URL('SHOP_MAIN/sign/index/indexenroll')}" class="enter"
					   target="_blank">我要报名</a></div>
			</li>
			<li>
				直播课堂
				<div class="cover-content" style="display: none;">
					<a href="#" class="enter"
					   target="_blank">直播课堂</a></div>
			</li>
			<li>
				新华书店
				<div class="cover-content" style="display: none;">
					<a href="#" class="enter"
					   target="_blank">新华书店</a></div>
			</li>
			<li>
				新华社采集信息
				<div class="cover-content" style="display: none;">
					<a href="#" class="enter"
					   target="_blank">新华社采集信息</a></div>
			</li>
			<li>
				教师资格课程
				<div class="cover-content" style="display: none;">
					<a href="#" class="enter"
					   target="_blank">教师资格课程</a></div>
			</li>
			<li>
				消防课程
				<div class="cover-content" style="display: none;">
					<a href="#" class="enter"
					   target="_blank">消防课程</a></div>
			</li>
			<li>
				高考冲刺
				<div class="cover-content" style="display: none;">
					<a href="#" class="enter"
					   target="_blank">高考冲刺</a></div>
			</li>
			<li>
				研究生专区
				<div class="cover-content" style="display: none;">
					<a href="#" class="enter"
					   target="_blank">研究生专区</a></div>
			</li>
			<li>
				求职中心
				<div class="cover-content" style="display: none;">
					<a href="#" class="enter"
					   target="_blank">求职中心</a></div>
			</li>
			<li>
				单位招聘
				<div class="cover-content" style="display: none;">
					<a href="#" class="enter"
					   target="_blank">单位招聘</a></div>
			</li>
			<li>
				高校专区
				<div class="cover-content" style="display: none;">
					<a href="#" class="enter"
					   target="_blank">高校专区</a></div>
			</li>
			<li>
				更多
				<div class="cover-content" style="display: none;">
					<a href="#" class="enter"
					   target="_blank">更多</a></div>
			</li>


		</ul>
	</div>
</div>
